html {
    -ms-touch-action: none;
}

#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5px;
}

#canvas {
    width: 100%;
    height: 100%;
}

#svgDiv {
    display: none;
}
